{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="{% static 'lang-logo.png'%}">
    </a>
    <h1>Hi {{ person.firstname }} {{ person.lastname }},</h1>
<!--      <p>Today is {{ weather }}</p> -->
      <h2>Your weather update for today</h2>
    <p>Time: {{ time }}</p>
    <p>Summary: {{ summary }}</p>
      <!--Table-->
    <div align="center">
    <table>
      <tr>
        <th>Value</th>
        <th>_ _ _ _ _</th>
        <th>Prediction</th>
      </tr>
      <tr>
        <td>Precip Prob </td>
        <td>_ _ _ _ _</td>
        <td>{{ precipProb }}</td>
      </tr>
      <tr>
        <td>Temp (F) </td>
        <td>_ _ _ _ _</td>
        <td>{{ temp }}</td>
      </tr>
      <tr>
        <td>Humidity </td>
        <td>_ _ _ _ _</td>
        <td>{{ humidity }}</td>
      </tr>
      <tr>
        <td>DewPoint </td>
        <td>_ _ _ _ _</td>
        <td>{{ dewPoint }}</td>
      </tr>
      <tr>
        <td>WindSpeed </td>
        <td>_ _ _ _ _</td>
        <td>{{ windSpeed }}</td>
      </tr>
      </table>
      </div>
      
<h2>Soil Moisture</h2>
    <!--Soil Moisture Sensor-->  
      <!--TS Graph-->
    <br><br>
  <iframe width="480" height="220" src="https://thingspeak.com/channels/180968/charts/1?bgcolor=%23ffffff&color=%23d62020&dynamic=true&max=100&min=0&results=36&type=line"></iframe>
      <br><br>
    <!--Irrigation--Rec-->
      <h3>24-hr Avg Soil Moisture: {{ sm_avg }} %</h3>
      
    <p>Based on your plant profile, soil type, and precipitation probability, we recommend watering within the next {{ hours }} hours.</p>
    
      
    <div align="center">
    <table>
        <tr>
            <th>Value</th>
            <th>_ _ _ _ _</th>
            <th>Prediction</th>
        </tr>
        <tr>
            <td>Build Type</td>
            <td>_ _ _ _ _</td>
            <td>{{ plantProfile.build_type }}</td>
        </tr>
        <tr>
            <td>Water Type</td>
            <td>_ _ _ _ _</td>
            <td>{{ plantProfile.water_type }}</td>
        </tr>
        <tr>
            <td>Soil Texture</td>
            <td>_ _ _ _ _</td>
            <td>Loamy Sand</td>
        </tr>
        <tr>
            <td>Field Capacity</td>
            <td>_ _ _ _ _</td>
            <td>{{ fc }}</td>
        </tr>
        <tr>
            <td>Permanent Wilting Point</td>
            <td>_ _ _ _ _</td>
            <td>{{ pwp }}</td>
        </tr>
    </table>
    </div>
      
      <br><br>
      
    <p>Irrigation Timer Rec: 20 mins every 48 hours</p>
      
    <a type="button" class="btn btn-lg btn-default" target="_blank" href="https://thingspeak.com/channels/180968"><span class="glyphicon glyphicon-flash"></span> Download Data</a>
    <a type="button" class="btn btn-lg btn-primary" target="_blank" href="https://github.com/AustinArrington87/irrigationDashboard"><span class="glyphicon glyphicon-download"></span> Source on GitHub</a>
  </div>
</div>
<div class="container">
  <div class="alert alert-info text-center" role="alert">
    To deploy your own copy, and learn the fundamentals of the Heroku platform, head over to the <a href="https://devcenter.heroku.com/articles/getting-started-with-python" class="alert-link">Getting Started with Python on Heroku</a> tutorial.
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> How this sample app works</h3>
      <ul>
        <li>This app was deployed to Heroku, either using Git or by using <a href="https://github.com/heroku/python-getting-started">Heroku Button</a> on the repository.</li>

        <li>When Heroku received the source code, it fetched all the dependencies in the <a href="https://github.com/heroku/python-getting-started/blob/master/Pipfile">Pipfile</a>, creating a deployable slug.</li>
        <li>The platform then spins up a dyno, a lightweight container that provides an isolated environment in which the slug can be mounted and executed.</li>
        <li>You can scale your app, manage it, and deploy over <a href="https://addons.heroku.com/">150 add-on services</a>, from the Dashboard or CLI.</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-link"></span> Next Steps</h3>
      <ul>
        <li>If you are following the <a href="https://devcenter.heroku.com/articles/getting-started-with-python">Getting Started</a> guide, then please head back to the tutorial and follow the next steps!</li>
        <li>If you deployed this app by deploying the Heroku Button, then in a command line shell, run:</li>
        <ul>
          <li><code>git clone https://github.com/heroku/python-getting-started.git</code> - this will create a local copy of the source code for the app</li>
          <li><code>cd python-getting-started</code> - change directory into the local source code repository</li>
          <li><code>heroku git:remote -a &lt;your-app-name></code> - associate the Heroku app with the repository</li>
          <li>You'll now be set up to run the app locally, or <a href="https://devcenter.heroku.com/articles/getting-started-with-python#push-local-changes">deploy changes</a> to Heroku</li>
        </ul>
      </ul>
      <h3><span class="glyphicon glyphicon-link"></span> Helpful Links</h3>
      <ul>
        <li><a href="https://www.heroku.com/home">Heroku</a></li>
        <li><a href="https://devcenter.heroku.com/">Heroku Dev Center</a></li>
        <li><a href="https://devcenter.heroku.com/articles/getting-started-with-python">Getting Started with Python on Heroku</a></li>
        <li><a href="https://devcenter.heroku.com/articles/django-app-configuration">Configuring Django Apps for Heroku</a></li>
      </ul>
    </div>
  </div> <!-- row -->
   <div class="alert alert-info text-center" role="alert">
    Please do work through the Getting Started guide, even if you do know how to build such an application.  The guide covers the basics of working with Heroku, and will familiarize you with all the concepts you need in order to build and deploy your own apps.
  </div>
</div>
{% endblock %}
