{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="{% static 'lang-logo.png'%}">
    </a>
    <h1>Hi {{ person.firstname }} {{ person.lastname }},</h1>
<!--      <p>Today is {{ weather }}</p> -->
      <h2>Your weather update for today</h2>
    <p>Time: {{ time }}</p>
    <p>Summary: {{ summary }}</p>
      <!--Table-->
    <div align="center">
    <table>
      <tr>
        <th>Value</th>
        <th>_ _ _ _ _</th>
        <th>Prediction</th>
      </tr>
      <tr>
        <td>Precip Prob </td>
        <td>_ _ _ _ _</td>
        <td>{{ precipProb }}</td>
      </tr>
      <tr>
        <td>Temp (F) </td>
        <td>_ _ _ _ _</td>
        <td>{{ temp }}</td>
      </tr>
      <tr>
        <td>Humidity </td>
        <td>_ _ _ _ _</td>
        <td>{{ humidity }}</td>
      </tr>
      <tr>
        <td>DewPoint </td>
        <td>_ _ _ _ _</td>
        <td>{{ dewPoint }}</td>
      </tr>
      <tr>
        <td>WindSpeed </td>
        <td>_ _ _ _ _</td>
        <td>{{ windSpeed }}</td>
      </tr>
      </table>
      </div>
<h2>Soil Moisture</h2>
    <!--Soil Moisture Sensor-->  
      <!--TS Graph-->
    <br>
  <iframe width="480" height="220" src="https://thingspeak.com/channels/180968/charts/1?bgcolor=%23ffffff&color=%23d62020&dynamic=true&max=100&min=0&results=36&type=line"></iframe>
      <br><br>
      
    <!--SM Stats-->
      <div align="center">
    <table>
        <tr>
            <th>Value</th>
            <th>_ _ _ _ _</th>
            <th>Prediction</th>
        </tr>
        <tr>
            <td>Build Type</td>
            <td>_ _ _ _ _</td>
            <td>{{ plantProfile.build_type }}</td>
        </tr>
        <tr>
            <td>Water Type</td>
            <td>_ _ _ _ _</td>
            <td>{{ plantProfile.water_type }}</td>
        </tr>
        <tr>
            <td>Soil Texture</td>
            <td>_ _ _ _ _</td>
            <td>Loamy Sand</td>
        </tr>
        <tr>
            <td>Field Capacity</td>
            <td>_ _ _ _ _</td>
            <td>{{ fc }}</td>
        </tr>
        <tr>
            <td>Permanent Wilting Point</td>
            <td>_ _ _ _ _</td>
            <td>{{ pwp }}</td>
        </tr>
    </table>
    </div>
      
      <!--pET-->
      
      <h3>12-hr Avg Soil Moisture: {{ sm_avg }} %</h3>
      <h3>pET (in/day): {{ pET }}</h3>
      <br>
      <!-- Modal -->
<div class="container">
  <!-- Trigger the modal with a button -->
  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Learn More</button>
  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
            <p class="modal-title">About Soil Moisture</p>
        </div>
        <div class="modal-body">
            <p>The "12-hr Avg Soil Moisture" value shows the average <a href="https://www.vegetronix.com/TechInfo/How-To-Measure-VWC.phtml#:~:text=Volumetric%20water%20content%20is%20a,measures%20weight%20rather%20than%20volume." target="_blank">volumetric water content (VWC%) </a>from your soil moisture sensor.</p>
            <p>pET is your potential evapotranspiration, or the moisture lost in inches per day from your planted surface. This is calculated using the <a href="http://www.fao.org/3/X0490E/x0490e06.htm#:~:text=In%201948%2C%20Penman%20combined%20the,temperature%2C%20humidity%20and%20wind%20speed." target="_blank">FAO Penman-Monteith Eq.</a> Imagine 0.25 inches of water have been lost. You'd be able to fill that amount of lost water by irrigation for about 15 mins (assuming 0.5 gallon per hour emitter rate).</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
  
</div>
      
    <!--Irrigation--Rec-->
    <h2>Irrigation Recommendation</h2>
    <p>Based on your plant profile, soil type, and precipitation probability, we recommend watering within the next {{ hours }} hours. PlantML Estimate: Irrigate for {{ irrigationTime }} minutes to regain average ETo soil moisture loss.</p>
      
    <p>Irrigation Timer Setting: {{ sm_status }}</p>
      
    <a type="button" class="btn btn-lg btn-default" target="_blank" href="https://thingspeak.com/channels/180968"><span class="glyphicon glyphicon-flash"></span> Download Data</a>
    <a type="button" class="btn btn-lg btn-primary" target="_blank" href="https://github.com/AustinArrington87/irrigationDashboard"><span class="glyphicon glyphicon-download"></span> Source on GitHub</a>
  </div>
</div>
<div class="container">
  <div class="alert alert-info text-center" role="alert">
    Weather Data sourced from the Darksky API. Questions about your data? Please contact us  <a href="mailto: info@plantgroup.co" class="alert-link">info@plantgroup.co</a>.
  </div>
    
  <!--  
    
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> Open Source Architecture</h3>
      <ul>
        <li>Plant Group develops open source technologies for environmental monitoring and engineering, building upon and following the tradition of existing open source libraries.</li>
        <li>This app was deployed using <a href="https://devcenter.heroku.com/articles/getting-started-with-python#deploy-the-app" target="_blank">Heroku</a>.</li>
        <li>The platform then spins up a dyno, a lightweight container that provides an isolated environment in which the slug can be mounted and executed.</li>
        <li>Check out the source code for our Raspberry Pi <a href="https://github.com/AustinArrington87/irrigationSystem" target="_blank">smart irrigation system</a> on GitHub.</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-link"></span> Running your App</h3>
      <ul>
        <li>You can deploy your own sensor network using our open source software approach.</li>
        <li>Install heroku cli, and run "heroku login", cd into the repo you'll download from Github</li>
        <ul>
          <li><code>git clone https://github.com/AustinArrington87/irrigationDashboard.git</code> - this will create a local copy of the source code for the app</li>
          <li><code>cd irrigationDashboard</code> - change directory into the local source code repository</li>
          <li><code>heroku git:remote -a &lt;your-app-name></code> - associate the Heroku app with the repository</li>
          <li>You'll now be set up to run the app locally, or <a href="https://devcenter.heroku.com/articles/getting-started-with-python#push-local-changes">deploy changes</a> to Heroku</li>
        </ul>
      </ul>
      <h3><span class="glyphicon glyphicon-link"></span> Links</h3>
      <ul>
        <li><a href="https://www.plantgroupnyc.com/">Plant Group, LLC</a></li>
        <li><a href="https://www.instagram.com/plant_group/?hl=en">Instagram</a></li>
        <li><a href="https://github.com/AustinArrington87">Github</a></li>
        <li><a href="https://devcenter.heroku.com/articles/django-app-configuration">Configuring Django Apps for Heroku</a></li>
      </ul>
    </div>
  </div> 
   <div class="alert alert-info text-center" role="alert">
       <a href="https://www.plantgroupnyc.com/" target="_blank">Plant Group, LLC</a> 2020
  </div>
</div>

-->

{% endblock %}

